<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</std::string>
	<key>CFBundleExecutable</key>
	<string>WED</std::string>
	<key>CFBundleGetInfoString</key>
	<string>WED WED_VERSION Copyright 2016, Laminar Research</std::string>
	<key>CFBundleIconFile</key>
	<string>WED.icns</std::string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</std::string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</std::string>
	<key>CFBundleName</key>
	<string>WED</std::string>
	<key>CFBundlePackageType</key>
	<string>APPL</std::string>
	<key>CFBundleShortVersionString</key>
	<string>WED_VERSION</std::string>
	<key>CFBundleVersion</key>
	<string>398</std::string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
</dict>
</plist>
